<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eduardo Practice Site</title>

	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<div class="wrapper">

	{{> header}}
	{{> random-headers}}
	{{{body}}}
	{{> list-items}}
	{{> posts}}
	{{> footer}}


</div>
</body>
</html>